.conTainer{
    margin-top: 90px;
    width: 100%;
    height: 597px;
    background-image: url(../assets//Rectangle-325.png);
    display: flex;
     flex-direction: column;
}
.whatClientSay{
   margin-top: 80px;
   color: var(--gray-100, #202020);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 32px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-align: center;
}
.commentContainer{
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.firstComment{
    margin-left: 64px;
    width: 400px;
    height: 253px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--white-white, #FFF);
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.06), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.secondComment{
    width: 400px;
    height: 253px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--white-white, #FFF);
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.06), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.thirdComment{
    margin-right: 64px;
    width: 400px;
    height: 253px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--white-white, #FFF);
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.06), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.headersContainer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    padding: 0px 24px;
}
.manager{
    color: var(--primary-main, #811141);
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.textDown{
    color: var(--gray-200, #3F3F3F);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 142%;
    padding: 24px;
}
.wrapperTwo{
    display: flex;
    justify-content: center;
}
