*{
    margin: 0px;
    padding: 0px;
}
.bodyStyle{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}
.heroSectionContainer{
    width: 100%;
    height: 640px;
    flex-shrink: 0;
    background-image: url(../assets/hero_sec.png);
    background-repeat: no-repeat;
    background-size: cover;
}